@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #333333;
  --gray: #4f4f4f;
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

/* | Blocks */

h1 {
  font-family: 'Inconsolata', monospace;
}

/* | Elements */

/* | Modifiers */