@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #333333;
  --gray: #4f4f4f;
  --white: #ffffff;
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

/* | Blocks */

#site-wrapper {
  display: flex;
}

main {
  display: flex;
}
h1 {
  font-family: 'Inconsolata', monospace;
}

.scarecrow{
  height: 447px;
}

button {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--dark-gray);
  color: var(--white);
  max-width: 216px;
  width: 216px;
  height: 68px;
  border: none;
}

/* | Elements */

/* | Modifiers */

.flex {
  flex: auto;
}